<p id="notice"><%= notice %></p>

<div class="container">
	<h2><%= @category.name %></h2>
    <div class="row">
    	<% @category.images.each do |image| %>
    		<div class="col-xs-3">
	            <%if image.imagefiles.first %>

	            <%= link_to(image_tag(image.imagefiles.first.image_file_path.thumb.url, :alt =>  "alt text"), image, :class =>"thumbnail")
	            %>

	            <%else %>
	            <a href="#" class="thumbnail">
	              <%= image_tag(image.default_url)%>
	            </a>
	            <%end%>
	          <%= link_to image.name, image%>
	          <span>By <%= image.author %> </span>
        	</div>
    	<% end %>
  </div>
</div>

<%= link_to 'Edit', edit_category_path(@category) %> |
<%= link_to 'Back', categories_path %>
