<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li><a href="#"><%= @image.categories.map {|cate| cate.name} .join('/ ') %></a></li>
		  <li class="active"><%= @image.name %></li>
		</ol>
	</div>
	<div class="row">
		<h1><%= @image.name %></h1>
		<div class="col-md-4">By On <%= @image.created_at.strftime("%B %d,%Y") %></div>

		<img class="img-responsive img-center" src="<%= @image.imagefiles.first.image_file_path %>">
		
	</div>
	<div class="row">
		<dl class="dl-horizontal">
		  <dt>Author:</dt>
		  <dd><%= @image.author %></dd>
		  <dt>Description:</dt>
		  <dd><%= @image.desc %></dd>
		  <dt>Download:</dt>
		  <dd>
		  	<% @image.imagefiles.each do |imagefile|%>
		  		<p><%#= imagefile.size %></p>
				<p><%= link_to imagefile.size, image_imagefile_path(@image, imagefile) %></p>
			<% end %>
		  </dd>
		</dl>
	</div>
	
</div>
	<!-- <p>Relative verse: <%= @image.verse %></p> -->

