<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<div class="container">
	<div class="row">
		<ol class="breadcrumb">
		  <li><a href="/">Home</a></li>
		  <li><a href="#"><%= @image.categories.map {|cate| cate.name} .join(', ') %></a></li>
		  <li class="active"><%= @image.name %></li>
		</ol>
	</div>
	<div class="row">
		<h1><%= @image.name %></h1>
		<div class="col-md-4">By <%= @image.created_at %></div>

		<% @image.imagefiles.each do |imagefile|%>
		<%if @image.imagefiles.first %>
			<img class="img-responsive img-center" src="<%= imagefile.image_file_path %>">
		<% end %>	
		<% end %>
	</div>
	<div class="row">
		<div class="col-md-1"><strong>Author:</strong></div>
		<div class="col-md-4"> <%= @image.author %> </div>
	</div>
	<div class="row">
		<div class="col-md-1"><strong>Description:</strong></div>
		<div class="col-md-4"> <%= @image.desc %> </div>
	</div>
	<div class="row">
		<div class="col-md-1"><strong>Download:</strong></div>
		<div class="col-md-4"> 
			<% @image.imagefiles.each do |imagefile|%>
			<p><%= imagefile.size %></p>
			<% end %>
		</div>
	</div>
</div>
	<!-- <p>Relative verse: <%= @image.verse %></p> -->

